<!DOCTYPE html>
<html lang="en">

	<head>

		<meta charset="UTF-8">
		<title>PROJECT</title>

		<!-- JQuery -->
		<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

		<!-- Semantic UI -->
		<script src="https://dev.skyciv.com/assets/res/semantic/semantic.min.js"></script>
		<link href="https://dev.skyciv.com/assets/res/semantic/semantic.min.css" rel="stylesheet" type="text/css">

		<!-- ICONS -->
		<link href="https://dev.skyciv.com/assets/res/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
		<link href="https://dev.skyciv.com/assets/res/mdi/css/materialdesignicons.min.css" rel="stylesheet" type="text/css">

		<!-- Underscore-->
		<script src="https://dev.skyciv.com/assets/res/underscore/underscore.min.js"></script>

		<!-- SKYCIV UTILS -->
		<script src="https://dev.skyciv.com/assets/js/utils-dev-c4gLQ5B4xGNcLcvu.min.js"></script>

		<!-- SKYCIV ENTRY TABLES -->
		<script src="https://dev.skyciv.com/assets/res/entry-table/entry-table-c4gLQ5B4xGNcLcvu.min.js"></script>
		<link rel="stylesheet" type="text/css" href="https://dev.skyciv.com/assets/res/entry-table/entry-table.css">

		<!-- SKYCIV API -->
		<script src="https://dev.skyciv.com/assets/js/s3d-api-c4gLQ5B4xGNcLcvu.min.js"></script>

		<!-- JSXGRAPH -->
		<script src="https://dev.skyciv.com/assets/res/jsxgraph/jsxgraphcore-0.99.5.js"></script>
		<link href="https://dev.skyciv.com/assets/res/jsxgraph/jsxgraph.css" rel="stylesheet" type="text/css">

		<!-- HTML2Canvas -->
		<script src="https://dev.skyciv.com/assets/res/canvas/html2canvas-0.4.1.js"></script>

		<!-- Platform CSS -->
		<link rel="stylesheet" type="text/css" href="https://platform.skyciv.com/assets/css/packed.css">

		<script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/3.11.174/pdf.min.js"></script>
		<script src="https://dev.skyciv.com/assets/js/skyciv-renderer-offline-dist.js"></script>
		
		||head_styles||

	</head>

	<body>

		{{body_main.html}}

		||body_scripts||

	</body>

</html>