/* ALREADY DEIFNED ON SKYCIV */
/* :root {
    --skyciv-primary-color: #2185d0 !important;
    --skyciv-light-hover: #eff6ff !important;
    --skyciv-light-text: #6a7282 !important;
    --skyciv-background-grey: #f5f7fa !important;
    --skyciv-border-light: #ebe6e7 !important;
} */

/* SEMANTIC UI COLOURS */
/* :root {
	--primary-color: #2185d0;
	--success-color: #21ba45;
	--warning-color: #f2c037;
	--error-color: #db2828;
	--secondary-color: #767676;
	--light-hover: #eff6ff;
	--light-text: #6a7282;
	--background-grey: #f5f7fa;
	--border-light: #ebe6e7;
} */
